<div class="container">

  <h2>Sign up</h2>

  <%= form_with model: @user do |f| %>
    <%= render "shared/error_messages", resource: @user %>

    <div class="field mb-3">
      <%= f.label :username, class: 'form-label'%><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= f.label :email, class: 'form-label'%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= f.label :password, class: 'form-label'%>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= f.label :password_confirmation, class: 'form-label'%><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary ' %>
    </div>
  <% end %>

  <%= render "shared/links" %>

</div>